{% extends 'store/base.html' %} 
{% load static %}

{% block title %}
 - Pagar por transbank
{% endblock %}

{% load multiplicar %}
{% load humanize %}

{% block contenido %}
    <h4 class="card-title">Resumen de transacción</h4>
    <form action="{{ form }}" method="post">
        {% csrf_token %}
        <input hidden name="token_ws" value="{{ token_ws }}" />
        <div class="form-group">
            <label>Cantidad a pagar</label>
            <input type="text" class="form-control" id="amount" value="$ {{ monto|multiplicar:valor_cambio|intcomma }} {{ request.session.CURRENCY_CODE }}" readonly>
        </div>
        <div class="form-group">
            <label>Orden de compra</label>
            <input type="text" class="form-control" id="authorizationCode" value="{{ orden_compra }}" readonly>
        </div>
        <input type="submit" class="btn btn-primary" value="-> Pagar" />
    </form>
    {% comment %} <p>Valor: {{ monto }}</p>
    <p>Orden compra: {{ orden_compra }}</p>
    <form action="{{ form }}" method="post">
        {% csrf_token %}
        <input hidden name="token_ws" value="{{ token_ws }}" />
        <input type="submit" value="Pagar"class="btn btn-lg btn-primary btn-block" />
    </form> {% endcomment %}
{% endblock contenido %}

{% block js %}
{% for message in messages %}
    {% if message.tags  == 'error'%}
    <script>
        Swal.fire({
            title: "Error en Validación",
            text: "{{message}}",
            icon: "error",
            timer: 5000,
            timerProgressBar: true
        })
    </script>
    {% else %}
    <script>
        Swal.fire({
            title: "Compra",
            text: "{{ message }}",
            icon: "success",
            button: "Aceptar",
            timer: 5000,
            timerProgressBar: true
        }).then(() => {
            window.location.href = "{% url 'tienda' %}"
        });
    </script>
    {% endif %}
{% endfor %}
{% endblock %}