{% extends 'store/base.html' %} 
{% load static %}

{% block title %}
 - Transferencia
{% endblock %}

{% block contenido %}
{% load humanize %}
<form>
  <fieldset disabled>
    <div class="form-group">
      <label for="disabledTextInput">Cuenta Vista Music Pro</label>
      <input type="text" class="form-control" placeholder="17283-3948-9394">
    </div>
    <div class="form-group">
      <label for="disabledTextInput">Monto a Transferir</label>
      <div class="form-control">$ {{ orden.get_cart_total | intcomma}} </div>
    </div>
    <div class="form-group">
      <label for="disabledTextInput">Correo Music Pro</label>
      <input type="text"  class="form-control" placeholder="musicPro@musicPro.com">
    </div>
  </fieldset>  
    
    <button type="submit" class="btn btn-primary">Confirmar Transferencia</button>
  
</form>


{% endblock contenido %}